<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/8e20749acf.js"
      crossorigin="anonymous"
    ></script>
    <title>Relatórios</title>
  </head>

  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <div>
          <h2>Geração de relatórios</h2>
          <div style="max-width:800px;display:flex;flex-direction:column;">
          <small>A categoria específica fornece as informações individuais mais relevantes de cada voo </small>
          <small>A geral traz métricas sobre o conjunto de voos de cada companhia aérea </small>
          <small class="text-muted">O histórico fornecido contém apenas registros com status finalizados ('decolagem finalizada', 'aterrissado' ou 'cancelado')</small>
          </div>
        </div>
          <div class="col-3.5">
            <div class="card" style="border-radius: 8px;">
              <div class="card-body p-3">
                <div class="d-flex text-black inline">
                  <div class="flex-shrink-0">
                    <img src="{{userUrlImg}}"
                      alt="Generic placeholder image" class="img-fluid"
                      style="width: 80px; border-radius: 1px;">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h6 class="mb-1">{{username}}</h6>
                    <p class="mb-1" style="color: #2b2a2a;">{{userType}}</p>
                    <div class="d-flex">
                      <a href="{% url 'login' %}" type="button" class="btn btn-danger me-1 btn-sm">Log Out</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-auto">
          <div id="reportrange" role="button" class="border rounded p-2">
            <i class="fa fa-calendar"></i>&nbsp;
            <span class="mx-3"></span>
            <i class="fa fa-caret-down"></i>
          </div>
        </div>
        <div class="col-auto">
          <div
            class="btn-group align-items-center"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <button id = "generateReportGeneral" class="btn btn-outline-primary">
              Gerar relatório geral
            </button>

            <button
              class="btn btn-outline-primary"
              id = "generateReportSpecific"
            >
              Gerar relatório específico
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <a href="{% url 'login' %}" class="btn btn-danger col-auto mt-5">
          Voltar à tela de login
        </a>
      </div>
      <div
      class="modal fade"
      id="searchModal"
      tabindex="-1"
      aria-labelledby="searchModalLabel"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body  text-center">
                <h4 class="modal-title text-danger" id="searchModalLabel">
                </h4>
              <button
              type="button"
              class="btn btn-primary mt-4"
              data-bs-dismiss="modal"
              aria-label="Close"
              >
              OK
              </button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(function () {
        var start = moment().subtract(29, 'days')
        var end = moment()

        function cb(start, end) {
          $('#reportrange span').html(
            start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY')
          )
        }

        $('#reportrange').daterangepicker(
          {
              locale: {
              "format": "DD/MM/YYYY",
              "separator": " - ",
              "applyLabel": "Aplicar",
              "cancelLabel": "Cancelar",
              "fromLabel": "A partir de",
              "toLabel": "Até",
              "customRangeLabel": "Personalizado",
              "weekLabel": "S",
              "daysOfWeek": [
                  "Do",
                  "Seg",
                  "Ter",
                  "Qua",
                  "Qui",
                  "Sex",
                  "Sáb"
              ],
              "monthNames": [
                  "Janeiro",
                  "Fevereiro",
                  "Março",
                  "Abril",
                  "May",
                  "Junho",
                  "Julho",
                  "Agosto",
                  "Setembro",
                  "Outubro",
                  "Novembro",
                  "Dezembro"
              ],
              "firstDay": 1
          },
            startDate: start,
            endDate: end,
            ranges: {
              Hoje: [moment(), moment()],
              Ontem: [
                moment().subtract(1, 'days'),
                moment().subtract(1, 'days'),
              ],
              'Últimos 7 dias': [moment().subtract(6, 'days'), moment()],
              'Últimos 30 dias': [moment().subtract(29, 'days'), moment()],
              'Neste Mês': [
                moment().startOf('month'),
                moment().endOf('month'),
              ],
              'Último Mês': [
                moment().subtract(1, 'month').startOf('month'),
                moment().subtract(1, 'month').endOf('month'),
              ],
            },
          },
          cb
        )

        cb(start, end)
      })

      $(document).ready(function() {

        function formatDateStr (date_str) {
          date_obj = date_str.split('/')
          return date_obj[2] + '-' + date_obj[1] + '-' + date_obj[0]
        }

        $("#generateReportSpecific").click(function() {
          let date = $('#reportrange span').text()
          console.log(date)
          date = date.split(' - ')
          start_date_str = date[0]
          end_date_str = date[1]
          start_date_str = formatDateStr(start_date_str)
          end_date_str = formatDateStr(end_date_str)

          $.ajax({
            type:'POST',
            dataType: 'json',
            url:'{% url "chooseReport" %}',
            data:
            {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                start_date:start_date_str,
                end_date:end_date_str,
            },
            success: function(response) {
              console.log(response["success"])
              if (response.success) {
                redirectPath = "report/specific/" + start_date_str + "/" + end_date_str
                window.location.href = redirectPath
              }
              else {
                $("#searchModal").modal('show');
                $('#searchModalLabel').text("Não há voos registrados como concluídos ou cancelados para a data de análise informada")
                $('#searchModalLabel').append('<i class="bi bi-emoji-frown" id = "failureIcon"></i>')
              }
            }
        })
      })

      $("#generateReportGeneral").click(function() {
        let date = $('#reportrange span').text()
        console.log(date)
        date = date.split(' - ')
        start_date_str = date[0]
        end_date_str = date[1]
        start_date_str = formatDateStr(start_date_str)
        end_date_str = formatDateStr(end_date_str)

        $.ajax({
          type:'POST',
          dataType: 'json',
          url:'{% url "chooseReport" %}',
          data:
          {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              start_date:start_date_str,
              end_date:end_date_str,
          },
          success: function(response) {
            console.log(response["success"])
            if (response.success) {
              redirectPath = "report/general/" + start_date_str + "/" + end_date_str
              window.location.href = redirectPath
            }
            else {
              $("#searchModal").modal('show');
              $('#searchModalLabel').text("Não há voos registrados como concluídos ou cancelados para a data de análise informada")
              $('#searchModalLabel').append('<i class="bi bi-emoji-frown" id = "failureIcon"></i>')
            }
          }
        })
      })
    })
    </script>
  </body>
</html>
