{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script
      src="https://kit.fontawesome.com/8e20749acf.js"
      crossorigin="anonymous"
    ></script>
    <script src=  
    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src=  
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href=  
    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" /> 
    <title>Controle dee Registro de Rotass</title>
  </head>

  <body>
    <div class="container mt-4">
      <div class="row">
        <h2 class="mb-4">Registros de Rotas</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="p-5 bg-light rounded-3" style="height:298px;">
            <h2>Cadastro de Rota</h2>
            <p>
              Selecione "Cadastrar" caso deseje inserir uma nova rota no sistema
            </p>
            <a
              class="btn btn-outline-primary"
              type="button"
              href="{% url 'routeRegistration' %}"
              >Cadastrar</a
            >
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-5 text-bg-dark rounded-3" style="height:298px;">
            <h2>Informações de Rota</h2>
            <p>
              Selecione o código de voo abaixo para consultar, editar ou excluir
              uma rota
            </p>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="flight-code" class="col-form-label"
                  >Código de Voo</label
                >
              </div>
              <div class="col-auto">
                <select class="form-select form-select" aria-label=".form-select-lg" id="flight-code">
                  <option selected>Selecione um código de voo</option>
                  {% for route in routesList %}
                  <option value="{{route.flightCode}}">{{route.flightCode}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-auto">
                <button class="btn btn-outline-light" id="searchRoute">
                  Buscar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <a
          href="{% url 'routesAndFlights' %}"
          class="btn btn-danger col-auto mt-5"
        >
          Voltar à tela de voos e rotas
        </a>
      </div>
    </div>
    <div
      class="modal fade"
      id="searchModal"
      tabindex="-1"
      aria-labelledby="searchModalLabel"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center">
            <h4 class="modal-title text-danger" id="searchModalLabel"></h4>
            <button
              type="button"
              class="btn btn-primary mt-4"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $( function() {
        var availableTags = [
            {% for route in routesList %}
                "{{route.flightCode}}",
            {% endfor %}
        ];
        $( "#searchRoute" ).autocomplete({
          source: availableTags
        });
        console.log(availableTags)
      } );
      $(document).ready(function () {
        $('#searchRoute').click(function () {
          $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '{% url "routesRecords" %}',
            data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              flightCode: $('#flight-code').val(),
            },
            success: function (response) {
              let msg;
              if (response.success) {
                window.location.href = response.redirectPath
              } else {
                $('#searchModal').modal('show')
                if (response.id.includes("Selecione")) {
                  msg = "Nenhuma rota foi selecionada "
                }
                else {
                  msg = 'Não foi possível encontrar a rota informada ' +
                  response.id +
                  ' '
                }
                $('#searchModalLabel').text(msg)
                $('#searchModalLabel').append(
                  '<i class="bi bi-emoji-frown" id = "failureIcon"></i>'
                )
              }
            },
          })
        })
      })
    </script>
  </body>
</html>
