<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/8e20749acf.js"
      crossorigin="anonymous"
    ></script>
    <title>Relatório Específico</title>
  </head>

  <body>
    <div class="container mt-4">
      <div class="row">
        <h2 class="mb-4">Visualização do relatório específico</h2>
        <small class="text-muted mb-4">
          Aqui são apresentadas as informações do relatório gerado.</small
        >
      </div>
      <div class="d-inline-flex align-items-center justify-content-between">
        <h5 class="text-bg-primary mb-0 p-2 rounded"><i class="fa fa-calendar"></i> Período de Análise: </h5>
        <p class="lead mb-0" style="margin-left:8px">{{startDate}} - {{endDate}}</p>
      </div>
      <div class="row align-items-center mt-4">
        <table class="table table-bordered">
          <thead>
            <tr class="text-light bg-primary">
              <th scope="col">Código de Voo</th>
              <th scope="col"><p>Companhia</p></th>
              <th scope="col">Aeroporto de Partida</th>
              <th scope="col">Aeroporto de Destino</th>
              <th scope="col"><p>Status</p></th>
              <th scope="col">Horário Previsto</th>
              <th scope="col">Horário Real</th>
              <th scope="col">Data Prevista</th>
              <th scope="col"><p>Data Real</p></th>
              <th scope="col"><p>Atraso</p></th>
            </tr>
          </thead>
          <tbody>
            {% for flight in data %}
            {% if flight.delay == 'cancelado' %}
            <tr class="table-danger">
              <th scope="row">{{flight.route.flightCode}}</th>
              <td>{{flight.route.airline}}</td>
              <td>{{flight.route.departureAirport}}</td>
              <td>{{flight.route.arrivalAirport}}</td>
              <td scope="row">{{flight.status}}</td>
              <td>{{flight.route.scheduledTime}}</td>
              <td>-</td>
              <td>{{flight.scheduledDate}}</td>
              <td>-</td>
              <td>{{flight.delay}}</td>
            </tr>
            {% elif flight.delay == 'sem atraso' %}
            <tr class="table-success">
              <th scope="row">{{flight.route.flightCode}}</th>
              <td>{{flight.route.airline}}</td>
              <td>{{flight.route.departureAirport}}</td>
              <td>{{flight.route.arrivalAirport}}</td>
              <td scope="row">{{flight.status}}</td>
              <td>{{flight.route.scheduledTime}}</td>
              <td>{{flight.realTime}}</td>
              <td>{{flight.scheduledDate}}</td>
              <td>{{flight.realDate}}</td>
              <td>{{flight.delay}}</td>
            </tr>
            {% else %}
            <tr>
              <th scope="row">{{flight.route.flightCode}}</th>
              <td>{{flight.route.airline}}</td>
              <td>{{flight.route.departureAirport}}</td>
              <td>{{flight.route.arrivalAirport}}</td>
              <td scope="row">{{flight.status}}</td>
              <td>{{flight.route.scheduledTime}}</td>
              <td>{{flight.realTime}}</td>
              <td>{{flight.scheduledDate}}</td>
              <td>{{flight.realDate}}</td>
              <td>{{flight.delay}}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <a href="{% url 'chooseReport' %}" class="btn btn-danger col-auto mt-5">
          Voltar à seleção de relatórios
        </a>
      </div>
    </div>
  </body>
</html>
